name: Label Pull Requests

on:
  pull_request:
    types: [opened]

permissions:
  pull-requests: write
  contents: read
  issues: write

jobs:
  labeler:
    runs-on: ubuntu-latest
    name: Label the PR
    steps:
      - name: Add Labels for PR
        uses: actions/labeler@v5
        continue-on-error: true
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: .github/labeler.yaml
          sync-labels: true

  pr-size-labeler:
    runs-on: ubuntu-latest
    name: Label the PR size
    steps:
      - name: Add PR Size Labels for PR
        uses: codelytv/pr-size-labeler@v1
        continue-on-error: true
        with:
          xs_label: 'size/xs'
          xs_max_size: '10'
          s_label: 'size/s'
          s_max_size: '100'
          m_label: 'size/m'
          m_max_size: '500'
          l_label: 'size/l'
          l_max_size: '1000'
          xl_label: 'size/xl'
          fail_if_xl: 'false'
          message_if_xl: >
            This PR exceeds the recommended size of 1000 lines.
            Please make sure you are NOT addressing multiple issues with one PR.
            Note this PR might be rejected due to its size.
          github_api_url: 'https://api.github.com'
          files_to_ignore: ''
